<html>
    <head>
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    
    <body>
        <h1> New Menu Item </h1>
        <div class="pane">
            <form action="{{url_for('newMenuItem', restaurant_id = restaurant_id)}}" method = 'POST'>
                <p>Name:<br>
                    <input type ='text' size='30' name='name'></p>
                <p>Description:<br>
                    <textarea name = 'description' rows='5' cols='40' > </textarea></p>
                <p>Price:<br>
                    <input type = 'text' size = '8' name='price'></p>
                <p class="radio">Course:<br>
                    <input type ='radio' name='course' value='Appetizer'>Appetizer<br>
                    <input type ='radio' name='course' value='Entree'>Entree<br>
                    <input type ='radio' name='course' value='Dessert'>Dessert<br>
                    <input type ='radio' name='course' value='Beverage'>Beverage
                </p>

                <input type='submit' value='Create'>
                <a href = "{{url_for('showMenu', restaurant_id = restaurant_id)}}"> Cancel </a>
            </form>
        </div>
    </body>
</html>